@CHARSET "ISO-8859-1";

*{
	margin: 0;
	padding: 0;
}

header{
	backgroung-image: url(Pics/Logo1.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}


h1{
	text-align: center;
	padding: 20px;
}


.hero{
	position: absolute;
	width: 1200px;
	margin-left: 100px;
	margin-top: -150px;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.row{
	max-width: 130px;
	margin: auto:
}



.main-nav{
	list-style: none;
	margin-top: 30px;
}

.main-nav li{
	display: inline-block;
}

.main-nav li a{
	color: white;
	text-decoration: none;
	padding: 5px 20px;
	font-family: "Roboto", sans-serif;
	font-size: 15px;
}

.main-nav li.active a{
	border: 1px solid white;
}





