<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>UserRegister</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>gfd</display-name>
    <servlet-name>gfd</servlet-name>
    <servlet-class>RegisterSeivice.gfd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gfd</servlet-name>
    <url-pattern>/gfd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>register</display-name>
    <servlet-name>register</servlet-name>
    <servlet-class>Register.register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>Register.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginCheck</display-name>
    <servlet-name>loginCheck</servlet-name>
    <servlet-class>Login.loginCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginCheck</servlet-name>
    <url-pattern>/loginCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logoutCheck</display-name>
    <servlet-name>logoutCheck</servlet-name>
    <servlet-class>Logout.logoutCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutCheck</servlet-name>
    <url-pattern>/logoutCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterAdmin</display-name>
    <servlet-name>RegisterAdmin</servlet-name>
    <servlet-class>Register.RegisterAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterAdmin</servlet-name>
    <url-pattern>/RegisterAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminRegister</display-name>
    <servlet-name>AdminRegister</servlet-name>
    <servlet-class>Register.AdminRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminRegister</servlet-name>
    <url-pattern>/AdminRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDeleteUser</display-name>
    <servlet-name>AdminDeleteUser</servlet-name>
    <servlet-class>Admin.AdminDeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteUser</servlet-name>
    <url-pattern>/AdminDeleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminViewUser</display-name>
    <servlet-name>AdminViewUser</servlet-name>
    <servlet-class>Admin.AdminViewUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminViewUser</servlet-name>
    <url-pattern>/AdminViewUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminViewAdmin</display-name>
    <servlet-name>AdminViewAdmin</servlet-name>
    <servlet-class>Admin.AdminViewAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminViewAdmin</servlet-name>
    <url-pattern>/AdminViewAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDetails</display-name>
    <servlet-name>AdminDetails</servlet-name>
    <servlet-class>Admin.AdminDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDetails</servlet-name>
    <url-pattern>/AdminDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDeleteAdmin</display-name>
    <servlet-name>AdminDeleteAdmin</servlet-name>
    <servlet-class>Admin.AdminDeleteAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDeleteAdmin</servlet-name>
    <url-pattern>/AdminDeleteAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User</display-name>
    <servlet-name>User</servlet-name>
    <servlet-class>User.User</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User</servlet-name>
    <url-pattern>/User</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getUser</display-name>
    <servlet-name>getUser</servlet-name>
    <servlet-class>User.getUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getUser</servlet-name>
    <url-pattern>/getUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserD</display-name>
    <servlet-name>UserD</servlet-name>
    <servlet-class>UserDetails.UserD</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserD</servlet-name>
    <url-pattern>/UserD</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUser</display-name>
    <servlet-name>UpdateUser</servlet-name>
    <servlet-class>UserDetails.UpdateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUser</servlet-name>
    <url-pattern>/UpdateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUser</display-name>
    <servlet-name>DeleteUser</servlet-name>
    <servlet-class>UserDetails.DeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUser</servlet-name>
    <url-pattern>/DeleteUser</url-pattern>
  </servlet-mapping>
</web-app>